@model Projeto_Pim.Models.Cliente

@{
   
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/themes/base/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>

    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />

    <title>Cadastrar</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="@Url.Action("Index", "Home")">Pizzaria Master</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="@Url.Action("Lista", "Cliente")">Cliente</a></li>
                            <li><a href="@Url.Action("Lista", "Pedido")">Pedido</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <br/>
        <br/>
        <br/>
        
        <br/>
        
        
        <div class="container">
            @ViewBag.Mensagem
            <div class="row">
                <div class="span3">
                    <label>
                        @Html.LabelFor(model => model.Nome)
                    </label>
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
                <div class="span3">
                    <label>
                        @Html.LabelFor(model => model.Cpf)
                    </label>
                    @Html.TextBoxFor(model => model.Cpf)
                    @Html.ValidationMessageFor(model => model.Cpf)
                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.DataNascimento)
                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "data" })
                    @Html.ValidationMessageFor(model => model.DataNascimento)
                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.Endereco)
                    @Html.EditorFor(model => model.Endereco)
                    @Html.ValidationMessageFor(model => model.Endereco)
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(model => model.Cep)
                    @Html.EditorFor(model => model.Cep)
                    @Html.ValidationMessageFor(model => model.Cep)
                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.Complemento)
                    @Html.EditorFor(model => model.Complemento)
                    @Html.ValidationMessageFor(model => model.Complemento)

                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.Bairro)
                    @Html.EditorFor(model => model.Bairro)
                    @Html.ValidationMessageFor(model => model.Bairro)
                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(model => model.Telefone)
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "Telefone" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>
                <div class="span3">
                    @Html.LabelFor(model => model.PontoReferencia)
                    @Html.EditorFor(model => model.PontoReferencia)
                    @Html.ValidationMessageFor(model => model.PontoReferencia)
                </div>
            </div>
            <div class="row">
                <div class="span3 offset3">
                    <input type="submit" value="Cadastrar" class="btn btn-small btn-success" />

                    <a href="@Url.Action("Lista", "Cliente")" class="btn btn-small btn-primary"><i class="icon-list icon-white"></i>lista de Clientes</a>
                </div>
            </div>
        </div>
    }
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery(function ($) {
            $("#DataNascimento").mask("99/99/9999");
            $("#Cpf").mask("999.999.999-99");
            $("#Telefone").mask("(99) 9999-9999");
            $("#Cep").mask("99999-999");



        });
    });
</script>
<script>
    $(document).ready(function () {
        $(function () {
            $("#DataNascimento").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
            });
        });

    });


</script>
